<launch>
    <todo msg="Replace run_tab by rovi_common/run-in-tab" />
        <arg name="config_file" default="config/config-test.yaml" />
        <arg name="use_roxterm" default="false" />
        <arg name="prefix" default="" unless="$(arg use_roxterm)" />
        <arg name="prefix" value="$(find rovi_edgearm_control)/run_tab.sh trex_driver $(find trex_driver)" if="$(arg use_roxterm)" />
	
	<node name="trex_driver" pkg="trex_driver" type="trex_driver_node.py" output="screen" launch-prefix="$(arg prefix)">
		<rosparam command="load" file="$(find trex_driver)/$(arg config_file)" />
	</node>
</launch>